body {
  BACKGROUND-COLOR: rgb(48, 79, 167);
}

H1 {
  TEXT-ALIGN: CENTER;
  COLOR: WHITE;
  FONT-FAMILY: ARIAL;
  BACKGROUND-COLOR: rgb(103, 214, 172);
  PADDING: 10PX;
  BORDER-RADIUS: 10PX;
  MARGIN : 10PX;
}
.box {
  BACKGROUND-COLOR: rgb(0, 38, 255);
  WIDTH: 50PX;
  HEIGHT: 50PX;
  BORDER-RADIUS: 5PX;
  BORDER: 1PX SOLID rgb(12, 12, 12);
  TEXT-ALIGN: CENTER;
  LINE-HEIGHT: 50PX;
  MARGIN: 5PX;
  COLOR: rgb(238, 232, 232);
  BOX-SHADOW: 2PX 2PX 5PX GRAY;
  TEXT-SHADOW: 2PX 2PX 4PX;
  FONT-FAMILY: ARIAL;
}

.conteiner1 {
  display: flex;
  justify-content: start;
}
.conteiner2 {
  display: flex;
  justify-content: center;
}
.conteiner3 {
  display: flex;
  justify-content: end;
}
.conteiner4 {
  display: flex;
  justify-content: space-between;
}
.conteiner5 {
  display: flex;
  justify-content: space-around;
}
.conteiner6 {
  display: flex;
  justify-content: space-evenly;
}
.conteiner7 {
  display: flex;
  justify-content: center;
}
.conteiner8 {
  display: flex;
  justify-content: space-between

  }
.conteiner9 {
  display: flex;
  justify-content: space-evenly;

}
.conteiner10 {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  color: white;
  font-family: Arial;
  background-color: rgb(31, 134, 134);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}